.our_team_banner {
    background-color: green;
    background-image: linear-gradient(#7FB77E, #dbdbdb);
    margin-top: 80px;

}

.heading-font-size b {
    font-size: 48px;
}

.hire-btn {
    margin-right: 20px;
    font-size: 17px;
    padding: 20px;
}



.info-btn {
    font-size: 17px;
    padding: 20px;
    background-color: #b9c1b6;
    color: black;
}

.info-btn:hover {
    background-color: #157347;
    color: black;
}

/* banner end  */
/* catagory start  */

.catagory {
    background-color: #f2f7f2;
    border: none;

}

.catagory:hover {
    /* background-color: #cbe7c2; */
    cursor: pointer;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.text-clr {
    color: #077000;

}

.catagory_btn {
    background-color: #dfdfdf;
    color: black;
    border: none;
    padding: 5px 10px;
    font-size: 15px;
}

.catagory_btn:hover {
    background-color: #157347;
    color: black;
    border: none;
    padding: 5px 10px;
    font-size: 15px;

}
/* catagory end  */

/* Review Section Start */

.cards-wrapper{
    display: flex;
    margin-bottom: 100px;
    justify-content: space-evenly;
}




.card-img-top{
    border-radius: 50%;
    width: 105px;
    height: 100px;
    margin-left: 25%;
   border: 2px solid rgb(34, 139, 34);
   margin-top: 10px;
}

.review:hover{
    /* background-color: #cbe7c2; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    cursor: pointer;
}



.review-header{
    text-align: center;
    margin: 30px;
}
.review-btn{
    background-color: #d7d7d7;
    border: none;
    font-size: 14px;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;

}
.review-btn:hover{
    background-color: #157347;
    cursor: pointer;
    color: white;
}
/* Review Section Ends */
/* our team member area start */

i.fa-brands.fa-facebook {
    padding: 0 10px 20px 0;
    font-size: 20px;
    color: #0572E6;
}
i.fa-brands.fa-facebook:hover{
    font-size: 21px;
    color: #00188f;
}
i.fa-brands.fa-instagram {
    color: #F50151;
    font-size: 20px;
    padding: 0 10px 0 0;
}
i.fa-brands.fa-instagram:hover{
    font-size: 21px;
    color: #ff0000;
}
i.fa-brands.fa-linkedin {
    font-size: 20px;
    padding: 0 10px 0 0;
    color: #0077B5;
}
i.fa-brands.fa-linkedin:hover{
    font-size: 21px;
    color: #00188f;
}
i.fa-brands.fa-twitter {
    font-size: 20px;
    color: #1DA1F2;
}
i.fa-brands.fa-twitter:hover{
font-size: 21px;
color: #00188f;
}
/* our team member area end */

/* Experence section start */
.our_experience {
    background-image: url("/images/our-team/bgatach.jpg");
    background-color: rgb(119, 119, 119);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.heading_color {
    color: white;
}
.button-circle{
    color: white;
    width: 91px;
    height: 85px;
    text-align: center;
    font-size: 25px;
    text-decoration: none;
    background-color: #4f8972;
    margin-bottom: 20px;
    border-radius: 50%;
    border: 1px solid;
    margin: auto;
}
.button-circle:hover{
    background-color: #45a144;
    color: white;
    cursor: pointer;
}
.color-add{
    color: white;
    margin: 20px 0 0 0;
}
i.fa-solid.fa-star {
    padding: 0 0 16px 0;
    font-size: 14px;
    color: orange;
}

/* Experence section start */
