body {
    font-family: 'Lato', sans-serif;
}
:root {
    --primary-color: #7FB77E;
    --secondary-color: #B1D7B4;
  }


  .navbar {
    background-color: var(--primary-color);
    box-shadow: 2px 4px 6px #9ACA99;
  }
  .nav-item {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    
  }

  .nav-item:hover {
    border: 1px solid #fff;
  }
  .footer-section {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(127,183,126,0.9570027840237657) 33%, rgba(127,183,126,1) 35%); 
  }
  /*   section services  start */

.services{
  background-color: #ecf3ed;
}
.services .section-header{
  margin-bottom: 3rem;
}
.services .section-header span{
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  padding-bottom: 5px;
  color: #2f2f2f;
}
.services .section-header h4{
  position: relative;
  padding: 0;
  color: var(--primary-color);
  line-height: 1;
  letter-spacing: 0.3px;
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  text-transform: none;
  margin-bottom: 30px;
}
.services .section-header h4::before{
  content: '';
  width: 150px;
  height: 3px;
  background: var(--primary-color);
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.services .section-header p{
  color: #818181;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
}
.item{
  background: #fff;
  text-align: center;
  padding: 30px 25px;
  box-shadow: 0 0 25px rgba(0 ,0 ,0 ,0.07);
  border-radius: 20px;
  margin-bottom: 30px;
  border: 5px solid  rgba(0 ,0 ,0 ,0.07);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  
}
.item:hover{
  background: var(--secondary-color);
  box-shadow: 0 8px 20px 0 #454d45;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.item:hover .item,
.item:hover span.icon{
  background: #fff;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.item:hover h6,
.item:hover p{
  color: #fff;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.item .icon{
  font-size: 40px;
  padding: 15px;
  margin-bottom: 25px;
  color: var(--primary-color);
  width: 90px;
  height: 90px;
  line-height: 96px;
  border-radius: 50px;
}
.item .feature_box_col_one{
  background:  #ecf3ed;
  color: var(--primary-color);
}
.item .feature_box_col_two{
  background: #ecf3ed;
  color: var(--primary-color);
}
.item .feature_box_col_three{
  background: #ecf3ed;
  color: var(--primary-color);
}
.item .feature_box_col_four{
  background: #ecf3ed;
  color: var(--primary-color);
}
.item .feature_box_col_five{
  background: #ecf3ed;
  color: var(--primary-color);
}
.item .feature_box_col_six{
  background: #ecf3ed;
  color: var(--primary-color);
}
.item p{
  font-size: 15px;
  line-height: 26px;
}
.item h6{
  margin-bottom: 20px;
}
/*   section service end */

